*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  
  height: 86vh;

}

.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/* Transaction Modele css */
/* Homepage */

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}
